* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Alice", sans-serif;
  line-height: 150%;
  color: #573A37;
}

body {
  position: relative;
  padding: 0 2rem;
}

body::before {
  content: "";
  position: fixed;
  inset: -20px;
  background-image: linear-gradient(rgba(108, 78, 66, 0.7), rgba(108, 78, 66, 0.7)), url("assets/main-image.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}

#page {
  max-width: 50rem;
  padding: 1.5rem;
  background-color: #F0E8C2;
  border-radius: 1.5rem;
  margin: 3rem auto;
  box-sizing: border-box;
  width: 100%;
}

#image {
  border-radius: 1rem;
  width: 100%;
}

main {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem
}

#about {
  display: flex;
  flex-direction: column;
  gap: 4px
}

#info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

#extraInfo p {
  margin: 0px;
}

h1 {
  line-height: 140%;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

h1,
h2 {
  color: #291B1A;
  line-height: 150%;
}

ul {
  list-style-position: inside;
  padding-left: 0.75rem;
}

footer {
  text-align: center;
  font-size: small;
}